*/.DS_Store
/VideoChatRoom/Pods/Pods.xcodeproj/xcuserdata/nontapatsiengsanor.xcuserdatad
/VideoChatRoom/VideoChatRoom.xcodeproj/xcuserdata/nontapatsiengsanor.xcuserdatad
/VideoChatRoom/VideoChatRoom.xcworkspace/xcuserdata/nontapatsiengsanor.xcuserdatad
/VideoChatRoom/Pods/*
/.DS_Store
/VideoChatRoom/VideoChatRoom/.DS_Store
*.xcuserstate
*.xcbkptlist
